# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
out/
build/
bin/
obj/
vcpkg_installed/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Compiled binaries
*.exe
*.dll
*.lib
*.obj
*.pdb

# OS
.DS_Store
Thumbs.db